nav {
  border-top: solid black;
  border-bottom: solid black;
  padding: 7px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  word-spacing: 10px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  letter-spacing: 2px;
}
a {
  color: #424243;
  text-decoration: none;
}
a:hover {
  color: #00aeff;
}
.circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: #00aeff;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
    color: #424243;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
    color: #00aeff;

}

p {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 20px;
    line-height: 22px;
}

footer {
  border-top: solid #d1d2d2;
  border-bottom: solid #d1d2d2;
  padding: 7px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  word-spacing: 10px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 2px;
  font-size: 12px;
}

li {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 20px;
    line-height: 22px;
}

img {
  max-width: 550px;
  border-style: solid;
  border-color: #d1d2d2;
  border-width: 2px;
}
